// marginal notes on desktop
// https://kennethfriedman.org/thoughts/2019/marginal-notes/

aside,
.aside_right {
    display: inline;
    float: right;
    position: relative;
    width: 10vw;
    margin-right: -14vw;
    font-size: 12px;
    color: rgba(166, 131, 196, 0.9);
}

aside,
.aside_left {
    display: inline;
    float: left;
    position: relative;
    width: 10vw;
    margin-left: -14vw;
    font-size: 12px;
    color: rgba(166, 131, 196, 0.9);
}

@media (max-width: 1000px) {
    aside,
    .aside_left,
    .aside_right {
        display: block;
        float: none;
        margin: 5% 10% 5% 10%;
        width: 80%;
        font-size: 12px;
        color: rgba(166, 131, 196, 0.9);
    }
}
