<div class="site-footer">
  <ul class="uk-iconnav uk-text-muted">
    <li class="uk-margin-large-right uk-text-small">
      <b>(c) Radovan Bast</b>, all rights reserved
    </li>

    <li class="uk-margin-large-right">
      <a href="mailto:firstname@radovan.xyz"
         uk-icon="icon: mail">
        firstname@radovan.xyz
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://bsky.app/profile/radovan.xyz"
         target="_blank"
         uk-icon="icon: bluesky">
        @radovan.xyz
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://fosstodon.org/@radovan"
         target="_blank"
         uk-icon="icon: mastodon">
        @radovan@fosstodon.org
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://github.com/bast"
         target="_blank"
         uk-icon="icon: github">
        @bast
      </a>
    </li>
  </ul>
</div>
