<div class="site-footer">
  <ul class="uk-iconnav uk-text-muted">
    <li class="uk-margin-right uk-text-small">
      <b>(c) Radovan Bast</b>, all rights reserved
    </li>

    <li class="uk-margin-right">
      <a href="mailto:*firstname@radovan.xyz"
         uk-icon="icon: mail">
        *firstname@radovan.xyz
      </a>
    </li>

    <li class="uk-margin-right">
      <a href="https://bsky.app/profile/radovan.xyz"
         target="_blank"
         uk-icon="icon: bluesky">
        @radovan.xyz
      </a>
    </li>

    <li class="uk-margin-right">
      <a href="https://tangled.org/radovan.xyz"
         target="_blank"
         uk-icon="icon: world">
        tangled.org/radovan.xyz
      </a>
    </li>

    <li class="uk-margin-right">
      <a href="https://github.com/bast"
         target="_blank"
         uk-icon="icon: github">
        @bast
      </a>
    </li>
  </ul>
</div>
